{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <!-- H1 with multiple spans for the glitch effect -->
          <h1 class="glitch stack" style="--stacks: 5;">
            <span style="--index:0;">About Me</span>
            <span style="--index:1;">About Me</span>
            <span style="--index:2;">About Me</span>
            <span style="--index:3;">About Me</span>
            <span style="--index:4;">About Me</span>
          </h1>
        </div>
        <!-- H1 with multiple spans for the glitch effect -->
        <div class="site-heading stack" style="--stacks: 3;">
          <span class="subheading" style="--index: 0;">This is what I do.</span>
          <span class="subheading" style="--index: 1;">This is what I do.</span>
          <span class="subheading" style="--index: 2;">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! Welcome to my little corner of the internet. I’m here to share thoughts, ideas, and maybe even a
          few random musings. Life’s too short for the same old, right? Let’s keep things interesting.
        </p>
        <p>
          Whether you’re into tech, gaming, or just looking for something new to read, I hope you find something here
          that makes you nod, smile, or think, “Yeah, I get that.” After all, we’re all just trying to figure it out one
          day at a time.
        </p>
        <p>
          So grab a cup of coffee (or whatever keeps you going) and dive in. It’s a mix of web dev geekery, a sprinkle
          of gaming nostalgia, and maybe a story or two about life's ups and downs. Let’s make this journey a good one.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}