{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <!-- H1 con múltiples spans para el efecto glitch -->
          <h1 class="glitch stack" style="--stacks: 5;">
            <span style="--index:0;">Carlos' Blog</span>
            <span style="--index:1;">Carlos' Blog</span>
            <span style="--index:2;">Carlos' Blog</span>
            <span style="--index:3;">Carlos' Blog</span>
            <span style="--index:4;">Carlos' Blog</span>
          </h1>
        </div>
        <!-- Spans adicionales con el mismo efecto glitch -->
        <div class="site-heading stack" style="--stacks: 3;">
          <span class="subheading" style="--index: 0;">Welcome to The Project!</span>
          <span class="subheading" style="--index: 1;">Welcome to The Project!</span>
          <span class="subheading" style="--index: 2;">Welcome to The Project!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{ post.author.name }}</a> 
          on {{ post.date }}
          <!-- Solo mostrar botones de editar y eliminar si el usuario es admin -->
          {% if current_user.is_authenticated and current_user.id == 1 %}
            <!-- Editar -->
            <a href="{{ url_for('edit_post', post_id=post.id) }}" style="margin-left: 10px;">✎</a>
            <!-- Eliminar -->
            <a href="{{ url_for('delete_post', post_id=post.id) }}" style="color: red; text-decoration: none; margin-left: 5px;">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- Solo mostrar botón de crear publicación si el usuario es admin -->
      {% if current_user.is_authenticated and current_user.id == 1 %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right" href="{{ url_for('add_new_post') }}">Create New Post</a>
      </div>
      {% endif %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
