{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ post.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 text-center">
        <div class="post-heading">
          <!-- H1 con múltiples spans para el efecto glitch -->
          <h1 class="glitch stack" style="--stacks: 5;">
            <span style="--index:0;">{{ post.title }}</span>
            <span style="--index:1;">{{ post.title }}</span>
            <span style="--index:2;">{{ post.title }}</span>
            <span style="--index:3;">{{ post.title }}</span>
            <span style="--index:4;">{{ post.title }}</span>
          </h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta">
            Posted by
            <a href="#" class="text-bold"><strong>{{ post.author.name }}</strong></a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <!-- Solo mostrar botón de editar si el usuario es admin -->
        {% if current_user.is_authenticated and current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{ url_for('edit_post', post_id=post.id) }}"
            >Edit Post</a
          >
        </div>
        {% endif %}

        <!-- Área de Comentarios -->
        {% if current_user.is_authenticated %}
        <div class="comment">
          {% from "bootstrap5/form.html" import render_form %}
          {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
        {% endif %}
        <!-- Mostrar todos los comentarios de una publicación -->
        <div class="comments">
          <h4 class="glitch stack" style="--stacks: 5;">
            <span style="--index:0;">Comments</span>
            <span style="--index:1;">Comments</span>
            <span style="--index:2;">Comments</span>
            <span style="--index:3;">Comments</span>
            <span style="--index:4;">Comments</span>
          </h4>
          <ul>
            {% for comment in comments %}
              <div class="commenterImage">
                <img src="{{ comment.author.email | gravatar }}" alt="Avatar de {{ comment.author.name }}" />
              </div>
              <div class="commentText">
                <p>{{ comment.text }}</p>
                <span class="date sub-text">{{ comment.author.name }}</span>
                <hr>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
