{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/register-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <!-- H1 with multiple spans for the glitch effect -->
          <h1 class="glitch stack" style="--stacks: 5;">
            <span style="--index:0;">Register</span>
            <span style="--index:1;">Register</span>
            <span style="--index:2;">Register</span>
            <span style="--index:3;">Register</span>
            <span style="--index:4;">Register</span>
          </h1>
        </div>
        <!-- H1 with multiple spans for the glitch effect -->
        <div class="site-heading stack" style="--stacks: 3;">
          <span class="subheading" style="--index: 0;">Start Contributing to the Blog!</span>
          <span class="subheading" style="--index: 1;">Start Contributing to the Blog!</span>
          <span class="subheading" style="--index: 2;">Start Contributing to the Blog!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--TODO: render your registration form here-->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} {% endblock %}
